:root {
    --tf-primary-color: #fdc23c;
    --tf-secondary-color: #ff7a41;
    --tf-gray-color:#878898;
    --tf-gray-color-2:#E8EEEC;
    --tf-black-color: #16243E;
    --tf-white-color: #fff;
    --tf-border-color:#EDEDED;
    --tf-border-radius: 8px;
}