<<<<<<< HEAD
:root {
    --tf-primary-color: #fdc23c;
    --tf-secondary-color: #ff7a41;
    --tf-gray-color:#878898;
    --tf-gray-color-2:#E8EEEC;
    --tf-black-color: #16243E;
    --tf-white-color: #fff;
    --tf-border-color:#EDEDED;
    --tf-border-radius: 8px;
=======

:root {
    --theme-clr: #4230d3;
    --theme-clr-2: #ff7a41;
    --theme-clr-3: #f8ca38;
    --gray-clr:#878898;
    --gray-clr-2:#BCBCBC;
    --smoke-clr:#E8EEEC;
    --black-clr: #000;
    --green-clr: #064635;
    --white-clr: #fff;
    --border-clr:#EDEDED;
    --border-radius: 8px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
}