$font-url : 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&display=swap';

:root {
    --tf-ff-heading: "Jost", sans-serif;
    --tf-ff-body: "Kumbh Sans", sans-serif;
}