@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/
.tf-header{
    &-logo{
        & img{
            width: 168px;
        }
    }
    &-main{
        &-menu{
            text-align: center;
            & ul{ 
                & > li{
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    margin: 0 25px;
                    & >a{
                    font-size: 20px;
                    color: var(--tf-white-color);
                    text-transform: uppercase;
                    font-weight: 400;
                    margin: 0;
                    position: relative;
                    padding: 36px 0px;
                    display: inline-block;
                    &:hover{
                        color: var(--tf-primary-color);
                    }
                    }
                     & .sub-menu{
                        position: absolute;
                        top: 105%;
                        width: 240px;
                        left: 0;
                        background: var(--tf-white-color);
                        padding: 16px;
                        margin-left: 0;
                        border-top: 5px solid var(--tf-primary-color);
                        z-index: 99;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                        box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
                        & li{
                            display: block;
                            margin: 0;
                            text-align: start;
                            & a{
                                display: inline-block;
                                padding: 5px 0;
                                color: var(--tf-black-color);
                                position: relative;
                                &::before{
                                        content: "";
                                        width: 0;
                                        height: 2px;
                                        bottom: 0;
                                        position: absolute;
                                        left: auto;
                                        right: 0;
                                        z-index: -1;
                                        transition: width 0.6s 
                                        cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                                        background: var(--tf-primary-color);
                                }
                                 &:hover {
                                    color: var(--tf-secondary-color);
                                      &:before {
                                            width: 100%;
                                            left: 0;
                                            right: auto;
                                            }
                                    }
                            }
                        }
                }
                 &:hover{
                     & .sub-menu{
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                        & .tf-mega-menu{
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                        & > a{
                            color: var(--tf-primary-color);
                            }
                    }
                }
            }
        }
    }
    &-sidebar{
        &-line{
            width: 30px;
            height: 3px;
            background-color: var(--tf-white-color);
            display: block;
            margin: 6px auto;
            transition: all 0.3s ease-in-out;
        }
    }
    &-transparent{
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9999;
    }
    &-search{
        & button{
            color: var(--tf-white-color);
            font-size: 24px;
            line-height: 1;
        }
    }
    &-pad{
        padding: 0 100px;
    }
    &-3{
        &-border{
            border-bottom: 1px solid var(--tf-border-color);
        }
    }
}



.tf-header-sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 99999;
    -webkit-animation: .7s ease-in-out 0s normal none 1 running tffadeInDown;
    animation: .7s ease-in-out 0s normal none 1 running tffadeInDown;
    box-shadow: 0px 20px 30px rgba(167, 167, 167, 0.1);
    &.tf-sticky-black{
        background-color: var(--tf-black-color);
    }
}


.tf-mega-menu {
    position: absolute;
    top: 105%;
    left: 0;
    width: 810px;
    background: var(--tf-white-color);
    padding: 25px;
    padding-bottom: 0;
    box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);
  }
  .tf-home{
    &-thumb{
        text-align: center;
        & img{
            box-shadow: 0px 2px 6px rgba(1, 15, 28, 0.2);
        }
        &:hover{
            & .tf-home-button{
                opacity: 1;
                visibility: visible;
                top: 45%;
            }
        }
        }
    &-title {
        font-size: 17px;
        margin-top: 19px;
        margin-bottom: 0;
        transition: .3s;
        &:hover{
            color: var(--tf-secondary-color);
            }
        }
        &-button{
            position: absolute;
            top: 50%;
            text-align: center;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }
        &-btn{
            color: var(--tf-white-color);
            background: linear-gradient(62deg, #aa28d9 0%, #4d3bbf 100%);
            font-size: 18px;
            text-transform: uppercase;
            padding: 15px 30px;
            border-radius: var(--tf-border-radius);
            &:hover{
                color: var(--tf-white-color);
            }
         }
    }
