@use '../../utils' as *;

/*----------------------------------------*/
<<<<<<< HEAD
/*  6.4 Contact
/*----------------------------------------*/

.tf-footer{
    &-social{
        & a{
            color: var(--tf-black-color);
            background: #D8E5EB;
=======
/*  5.1 Footer Style 1
/*----------------------------------------*/

.tf-footer{
    &-logo{
        width: 168px;
    }
    &-widget{
        & p{
            color: var(--gray-clr-2);
        }
        & span{
            color: var(--gray-clr-2);
        }
        &-title{
            color: var(--white-clr);
        }
        & ul{
            & li{
                list-style: none;
                & a{
                    color: var(--gray-clr-2);
                    margin-bottom: 10px;
                    display: inline-block;
                    font-weight: 500;
                    &:hover{
                        color: var(--theme-clr-3);
                    }
                    @media #{$xl}{
                            margin-bottom: 7px;
                            font-size: 16px;
                        }
                }
            }
        }
        &-form{
            & input{
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 50px;
                padding-left: 20px;
                padding-right: 170px;
                &::placeholder{
                    color: var(--gray-clr-2);
                    }
                &:focus{
                    color: var(--gray-clr-2);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }
            }
            & button{
                position: absolute;
                border-radius: 100px;
                font-weight: 500;
                font-size: 18px;
                padding: 12px 27px;
                background: var(--theme-clr-3);
                color: var(--black-clr);
                right: 3px;
                top: 2px;
                & i{
                    transform: rotate(-45deg);
                }
            }
        }
        &-shape{
            &-1{
                position: absolute;
                bottom: 70px;
                left: 0;
            }
            &-2{
                position: absolute;
                bottom: 70px;
                right: 0;
            }
        }
        &-area{
            padding-top: 80px;
            padding-bottom: 110px;
        }
    }
    &-social{
        & a{
            background: rgba(255, 255, 255, 0.1);
            color: var(--white-clr);
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            border-radius: 50%;
            display: inline-block;
            font-size: 14px;
            margin-right: 8px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            &:hover{
<<<<<<< HEAD
                background-color: var(--tf-primary-color);
                color: var(--tf-white-color);
=======
                background-color: var(--green-clr);
                color: var(--white-clr);
            }
        }
        &-2{
            & a{
                margin-right: 20px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            }
        }
        &-box{
            & a{
<<<<<<< HEAD
                color: var(--tf-white-color);
=======
                color: var(--white-clr);
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
                border: 1px solid rgba(255, 255, 255, 0.15);
                display: inline-block;
                text-align: center;
                font-size: 30px;
                text-transform: uppercase;
                padding: 35px 30px;
<<<<<<< HEAD
                border-radius: 20px;
                &:hover{
                    background-color: var(--tf-secondary-color);
=======
                font-family: var(--font-heading);
                border-radius: 20px;
                &:hover{
                    background-color: var(--theme-clr-2);
                }
                 @media #{$lg}{
                    padding: 25px 30px;
                    font-size: 28px;
                }
                 @media #{$md,$sm,$xs}{
                    display: block;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
                }
            }
        }
    }
<<<<<<< HEAD
    &-widget{
        & ul{
            & li{
                list-style: none;
                & a{
                    color: var(--tf-gray-color);
                    margin-bottom: 10px;
                    display: inline-block;
                    font-weight: 500;
                    & i{
                        margin-right: 8px;
                    }
                    &:hover{
                        color: var(--tf-primary-color);
                    }
                }
            }
        }
        &-title{
            color: var(--tf-white-color);
            font-size: 22px;
        }
        &-content{
            border: 1px solid var(--tf-border-color);
            border-radius: 5px;
            padding: 35px 34px 35px 40px;
            &-inner{
                & a{
                    color: var(--tf-white-color);
                    font-weight: 400;
                    font-size: 16px;
                    margin-left: 20px;
                    & i{
                        margin-right: 8px;
                    }
                }
            }
        }
        &-logo{
            & img{
                width: 168px;
            }
        }
        &-input{
            & input{
                background: var(--tf-white-color);
                color: var(--tf-black-color);
                border-radius: var(--tf-border-radius);
                padding-left: 20px;
                padding-right: 60px;
            }
            & span{
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    height: 42px;
                    width: 46px;
                    line-height: 42px;
                    text-align: center;
                    background: var(--tf-primary-color);
                    font-weight: 900;
                    font-size: 14px;
                    border-radius: 5px;
                    color: var(--tf-white-color);
=======
    &-pay{
        & img{
            margin-right: 20px;
            @media #{$xl}{
                margin-right: 12px;
            }
            @media #{$md,$sm}{
                margin-right: 7px;
            }
            @media #{$xs}{
                margin-right: -2px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            }
        }
    }
    &-copyright{
        &-area{
<<<<<<< HEAD
            border-top: 1px solid #333F4D;
            padding: 20px 0;
        }
        & p{
            color: var(--tf-white-color);
            font-size: 14px;
            & a{
                color: var(--tf-primary-color);
            }
        }
        &-text{
            & span{
                color: var(--tf-white-color);
=======
        border-top: 1px solid rgba(255, 255, 255, 0.2);
         }
         & p{
            font-size: 14px;
            color: var(--white-clr);
            & a{
                color: var(--theme-clr-3);
                font-size: 16px;
                font-weight: 700;
                z-index: 99;
                position: relative;
            }
         }
         &-text{
            & span{
                color: var(--white-clr);
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
                font-size: 14px;
            }
            & cite{
                background-color: rgba(255, 255, 255, 0.2);
                height: 15px;
                width: 1px;
                display: inline-block;
                margin: 0 24px;
                transform: translateY(3px);
            }
<<<<<<< HEAD
        }
    }
    &-shape{
        &-1{
            position: absolute;
            top: 20%;
            left: 10px;
        }
        &-2{
            position: absolute;
            bottom: 0;
            left: 44%;
        }
        &-3{
            position: absolute;
            top: 10%;
            right: 10%;
        }
        &-4{
            position: absolute;
            top: 10%;
            left: 46%;
        }
    }
    &-menu{
        & ul{
            & li{
                display: inline-block;
                padding-left: 33px;
                margin-left: 33px;
                position: relative;
                & a{
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: var(--tf-gray-color-2);
                    &:hover{
                        color: var(--tf-secondary-color);
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 1px;
                    background-color: var(--tf-gray-color);
                    left: 0;
                    top: 8px;
                }
                 &:first-child{
                    &:before{
                        display: none;
                    }
                }
=======
         }
    }
    &-contact{
        &-item{
            & span{
                color: var(--gray-clr);
                display: inline-block;
                margin-bottom: 10px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            }
        }
    }
}