@use '../utils' as *;

// /*----------------------------------------*/
<<<<<<< HEAD
// /*  6.4 Contact
=======
// /*  2.3 Breadcrumb
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
// /*----------------------------------------*/

.tf-breadcrum{
    &-area{
        background-size: cover;
        background-repeat: no-repeat;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
<<<<<<< HEAD
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: var(--tf-black-color);
            opacity: .7;
=======
            z-index: -1;
            height: 100%;
            width: 100%;
            background: linear-gradient(173deg, #4230D3 -16.2%, rgba(141, 29, 0, 0.8) 101.3%);
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
        }
    }
    &-space{
        padding-top: 240px;
        padding-bottom: 140px;
    }
     &-list{
        & span {
            margin: 0 2px;
            display: inline-block;
<<<<<<< HEAD
            color: var(--tf-white-color);
            &.active{
                & a{
                    color: var(--tf-secondary-color);
                }
            }
            & a {
                color: var(--tf-white-color);
                font-size: 20px;
                &:hover{
                    color: var(--tf-primary-color);
                }
=======
            color: var(--white-clr);
            &.active{
                & a{
                    color: var(--theme-clr-3);
                }
            }
            & a {
                color: var(--white-clr);
                font-size: 20px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            }
            &.dvir{
                margin: 0 2px;
            }
        }
    }
    &-shape{
        &-1{
            position: absolute;
            top: 23%;
            left: 10%;
            animation: tfupdown 1s infinite alternate;
<<<<<<< HEAD
            z-index: 9;
=======
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
        }
        &-2{
            position: absolute;
            top: 23%;
            right: 10%;
            animation: tfupdown 1s infinite alternate;
<<<<<<< HEAD
            z-index: 9;
=======
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
        }
        &-3{
            position: absolute;
            bottom: 10%;
            left: 48%;
            animation: tfupdown 1s infinite alternate;
<<<<<<< HEAD
            z-index: 9;
=======
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
            @media #{$xs}{
                left: 42%;
                }
        }
    }
}