@use '../utils' as *;

/*----------------------------------------*/
/*  2.5 Custom Animation
/*----------------------------------------*/

/* TF ANIMATE PULSE */ 

@keyframes tf-animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8),  0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
}


/* TF ANIMATE PULSE */ 

@keyframes tf-animate-pulse-2{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 122, 65, 0.8),  0 0 0 0 rgba(255, 122, 65, 0.8);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255, 122, 65, 0.8);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
}

/* TF SPIN */ 

	@keyframes tf-spin {
		0% {
		  -webkit-transform:rotate(0);
		  transform:rotate(0)
		}
		100% {
		  -webkit-transform:rotate(359deg);
		  transform:rotate(359deg)
		}
	  }
	  @keyframes tf-spin {
		0% {
		  -webkit-transform:rotate(0);
		  transform:rotate(0)
		}
		100% {
		  -webkit-transform:rotate(359deg);
		  transform:rotate(359deg)
		}
	  }

  /* TF SLINE EFFECT */ 
    @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }

/* TF UPDOWN */
@keyframes tfupdown {
	0% {
	  -webkit-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -o-transform: translateY(0);
	  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(-20px);
	  -moz-transform: translateY(-20px);
	  -ms-transform: translateY(-20px);
	  -o-transform: translateY(-20px);
	  transform: translateY(-20px);
	}

}

/* TF LEFTRIGHT */

@keyframes tfleftright {
	0% {
	  -webkit-transform: translateX(0);
	  -moz-transform: translateX(0);
	  -ms-transform: translateX(0);
	  -o-transform: translateX(0);
	  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-20px);
	  -moz-transform: translateX(-20px);
	  -ms-transform: translateX(-20px);
	  -o-transform: translateX(-20px);
	  transform: translateX(-20px);
	}
}

/* TF SKILINLEFT */

  .tfSkillInLeft {
    opacity: 0; /* Start invisible */
    animation: tfSkillInLeft 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
  }
  @keyframes tfSkillInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px); /* Start slightly to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at original position */
    }
}

/* Rotate Infinite Animation */
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tf-rotate-infinite {
  animation: rotate-infinite 15s linear infinite;
}

/* Hover Lift Effect */
// .box-hover {
//   transition: all 350ms cubic-bezier(.37, 0, .63, 1);
// }
// .box-hover:hover {
//   transform: translate3d(0, -3px, 0);
// }

/* Swing Animation */
@keyframes tfSwing {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

.tfswing {
  animation: tfSwing 2s linear infinite alternate;
}


  /* tf FadeInDown */
  
  @keyframes tffadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .tffadeInDown {
    animation: tffadeInDown 1s ease-out forwards;
  }

  /* tf FadeInUp */
  @keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.tffadeInUp {
  opacity: 0; /* Start invisible */
  animation: tffadeInUp 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
}
@keyframes tffadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px); /* Start slightly below */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* End at original position */
  }
}

/* tf fadeInLeft */

  .tffadeInLeft {
    opacity: 0; /* Start invisible */
    animation: tffadeInLeft 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
  }
  @keyframes tffadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px); /* Start slightly to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at original position */
    }
}



  /* img-animation */
  .img-custom-anim-right {
    animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    opacity: 0;
  }
  
  @keyframes img-anim-right {
    0% {
      transform: translateX(5%);
      clip-path: inset(0 0 0 100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }
  .img-custom-anim-left {
    animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    opacity: 0;
  }
  
  @keyframes img-anim-left {
    0% {
      transform: translateX(-5%);
      clip-path: inset(0 100% 0 0);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }
  .img-custom-anim-top {
    animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
  }
  
  @keyframes img-anim-top {
    0% {
      transform: translateY(-5%);
      clip-path: inset(0 0 100% 0);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }
