@use '../utils' as *;

// /*----------------------------------------*/
<<<<<<< HEAD
// /*  6.4 Contact
=======
// /*  2.8 Section Title
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
// /*----------------------------------------*/

.tf-section{
    &-title{
<<<<<<< HEAD
        color: var(--tf-black-color);
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 20px;
        &-2{
            color: var(--tf-white-color);
        }
        &-pre{
            color: var(--tf-secondary-color);
            font-family: var(--tf-ff-heading);
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 4px;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 10px;
            background: linear-gradient(90deg, #004D6E 0%, #00ACCC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
=======
        font-size: 60px;
        text-transform: uppercase;
        @media #{$xl}{
            font-size: 40px;
            }
        @media #{$lg}{
            font-size: 30px;
            }
        @media #{$md,$sm,$xs}{
            font-size: 25px;
            }
            &-wrapper{
                 @media #{$lg}{
                    margin-bottom: 30px;
                }
                 @media #{$xs}{
                    margin-top: 30px;
                }
            }
    }
    &-subtitle{
        color: var(--theme-clr-2);
        background: var(--border-clr);
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        @media #{$xl}{
            font-size: 15px;
        }
        @media #{$lg,$md,$sm,$xs}{
            font-size: 13px;
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
        }
    }
}