@use '../../utils' as *;

/*----------------------------------------*/
<<<<<<< HEAD
/*  6.2 Award
/*----------------------------------------*/
=======
/*  6.2 Brand
/*----------------------------------------*/

.tf-brand{
    &-padding{
        margin: 70px 0;
    }
    &-wrap{
        border: 1px solid #ddd;
        padding: 80px 75px;
    }
    &-title{
        &-2{
            background-color: var(--white-clr);
            font-size: 30px;
            margin-bottom: 0;
            color: var(--black-clr);
            display: inline-block;
            transform: translateY(19px);
            padding: 0 30px;
        }
    }
}
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
