@use '../../utils' as *;

/*----------------------------------------*/
/*  6.4 Contact
/*----------------------------------------*/

.tffaq{
    &__button{
            color: var(--tf-white-color);
            background-color: var(--tf-primary-color);
            font-weight: 700;
            font-size: 18px;
            padding: 19px 30px;
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            transition: .3s;
            & span{
                color: var(--tf-white-color);
                transform: rotate(-180deg);
            }
            &.collapsed{
                    color: var(--tf-black-color);
                    background-color: var(--tf-white-color);
                    box-shadow: 0 10px 50px 0 rgba(26, 46, 85, 0.1);
                    & span{
                        color: #808080;
                        transform: rotate(0);
                    }
                }
    }
    &__header{
        margin-bottom: 0;
    }
    &__body{
        padding: 16px 20px;
    }
    &__item{
        margin-bottom: 12px;
    }
    &-bg{
        height: 100%;
        position: absolute;
        right: 0;
        width: calc(50% - 65px);
        background-size: cover;
        top: 0;
    }
    &-video{
          color: var(--tf-white-color);
        background: var(--tf-secondary-color);
        width: 120px;
        height: 120px;
        line-height: 120px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        animation: tf-animate-pulse-2 3s linear infinite;
        position: absolute;
        right: 23%;
        top: 50%;
        &:hover{
            color: var(--tf-white-color);
        }
    }
    &__back{
        transform: translate(-22%, 60%) rotate(-90deg);
        &-title{
            color: var(--tf-primary-color);
            font-size: 200px;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            opacity: 0.2;
            font-family: var(--tf-ff-body);
        }
    }
}