@use '../../utils' as *;

/*----------------------------------------*/
<<<<<<< HEAD
/*  6.4 Contact
/*----------------------------------------*/
=======
/*  6.15 Video
/*----------------------------------------*/

.tf-video{
    &-icon{
        height: 130px;
        width: 130px;
        line-height: 130px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        animation: animate-pulse 3s linear infinite;
        background: var(--white-clr);
        color: var(--black-clr);
     &-wrap{
        position: absolute;
        top: 40%;
        right: 20%;
        @media #{$sm}{
           top: 57%;
         }
        @media #{$xs}{
           top: 47%;
         }
        }
    }
    &-area{
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(3, 10, 89, 0.05) 0%, rgba(81, 58, 192, 0.1) 49%, rgba(170, 40, 217, 0.2) 100%);
            z-index: -1;
        }
    }
    &-padding{
        padding: 500px 0;
    }
}
>>>>>>> 683437c37252a49fc4a7994143084d15293c4d42
